<h2>Business Card List</h2>
<app-filter (filterChange)="applyFilters($event)"></app-filter>
<app-export-business-card></app-export-business-card>
<button (click)="navigateToAddBusinessCard()" class="btn btn-primary add-card-btn">
    Add Business Card
  </button>
  <form class="containers">
<div class="grid-body"> 
<div class="grid-container">
  <div class="grid-header">
      <div>Name</div>
      <div>Gender</div>
      <div>Date of Birth</div>
      <div>Email</div>
      <div>Phone</div>
      <div>Address</div>
      <div>Photo</div>
      <div>Actions</div>
  </div>
  <div class="grid-body" *ngFor="let businessCard of businessCards | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <div class="grid-item">{{ businessCard.name }}</div>
      <div class="grid-item">{{ businessCard.gender }}</div>
      <div class="grid-item">{{ formatDate(businessCard.dateOfBirth) }}</div> <!-- Updated line -->

      <div class="grid-item">{{ businessCard.email }}</div>
      <div class="grid-item">{{ businessCard.phone }}</div>
      <div class="grid-item">{{ businessCard.address }}</div>
      <div class="grid-item">
        <img 
            [src]="businessCard.photo ? 'data:image/png;base64,' + businessCard.photo : 'path/to/placeholder-image.png'" 
            alt="{{ businessCard.name }}'s photo" 
            style="max-width: 70px; max-height: 70px; border-radius: 5px;" 
        />
    </div>
    

    

      <div class="grid-item">
          <button id="Delete" (click)="deleteCard(businessCard.id)">Delete</button>
          <button id="Update" (click)="openUpdateDialog(businessCard)">Update</button>
      </div>
  </div>
</div>
</div>   
</form>

<div class="pagination-controls-row d-flex justify-content-between align-items-center mt-3">

    <!-- Items Per Page Dropdown -->
    <div class="items-per-page d-flex align-items-center">
      <label for="itemsPerPageSelect" class="me-2">Items Per Page:</label>
      <select id="itemsPerPageSelect" [(ngModel)]="itemsPerPage" (change)="updateItemsPerPage($event)" class="form-select" style="width: auto;">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
    <div class="total-records">
      Total Records: {{ businessCards.length }} <!-- Display total records here -->
    </div>
    <!-- Pagination Controls -->
    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>